<h1>Eat-Da-Burger!</h1>

<main>


    <h2>Tasty Burgers Waiting to be Devoured!</h2>

        <ul>
            {{#each burgers}}
                {{#unless this.devoured}}
                
                    {{this.burger_name}}
                
                {{/unless}}
            {{/each}}
        </ul>

    <h2>OM NOM NOM NOM! These Burgers have been Devoured!</h2>

        <ul>
            {{#each burgers}}
                {{#if this.devoured}}
                    
                    {{this.burger_name}}
                
                {{/if}}
            {{/each}}
        </ul>


</main>







<h2>Add A Tasty Burger</h2>

<form action="/burgers" method="POST">
    <input type="text" id="name" name="burger_name" placeholder="Da Burger">
    <button type="submit" class="addBurgerButton">Add Da Burger</button>
</form>